.metric-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.metric-card {
    background-color: rgb(74, 144, 226);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150px;
    transition: transform 0.3s ease;
}

.metric-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.metric-icon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #fff;
}
