.winner-case-studies-container {
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 60px;
    padding: 20px;
  }
  
  .card-study {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
  }
  
  .image-container {
    position: relative;
  }
  
  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-content h3 {
    font-size: 18px;
    margin: 10px 0 5px;
  }
  
  .card-content p {
    color: gray;
    font-size: 14px;
  }
  

  .scrollable-container {
    width: 100%;
    overflow-y: auto;
  }